@font-face {
  font-family: "iconfont"; /* Project id 3373907 */
  src: url('iconfont.woff2?t=1651936615452') format('woff2'),
       url('iconfont.woff?t=1651936615452') format('woff'),
       url('iconfont.ttf?t=1651936615452') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15:before {
  content: "\e60e";
}

.icon-16:before {
  content: "\e60f";
}

.icon-shouyesantiaoxian:before {
  content: "\e610";
}

.icon-santiaoxian:before {
  content: "\e60d";
}

.icon-Fill_dangqi:before {
  content: "\e628";
}

.icon-dangqi1:before {
  content: "\e623";
}

.icon-weixin:before {
  content: "\e632";
}

.icon-weibo:before {
  content: "\e67a";
}

.icon-Union-1:before {
  content: "\e650";
}

.icon-dangqi:before {
  content: "\e80f";
}

.icon-qq:before {
  content: "\ec19";
}

